# EMACS
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# NIX
.direnv
result

/datasets
/results
/dev_scripts
*/__pycache__/*
*.py[cod]
*.pt
*.npy
.DS_Store
.idea
*.png

data
